HUGGINGFACE_API_KEY=
HUGGINGFACE_IMAGE_MODEL=stabilityai/stable-diffusion-xl-base-1.0
GOOGLE_AI_API_KEY=
GOOGLE_TTS_LANGUAGE=en-US
GOOGLE_TTS_VOICE=en-US-Neural2-F
OTHER_MEDIA_API_KEYS=
MEDIA_ROOT=media